.logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 17px;
}

.logo-red {
  color: var(--material-red-light);
}

.logo-green {
  color: var(--material-green)!important;
}

.logo-blue {
  color: var(--material-blue-dark)!important;
}